.App {
  text-align: center;
}


.password-strength {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.password-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.strength-indicator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.section {
  color: gray;
  transition: color 0.3s ease;
}

.section.red {
  color: red;
}

.section.yellow {
  color: yellow;
}

.section.green {
  color: green;
}

.section.gray {
  color: gray;
}